[Unit]
Description=Babyphone Telegram Bot
After=network.target camera_server.service

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/babyphone-bot
Environment="PATH=/home/pi/babyphone-bot/venv/bin"
ExecStart=/home/pi/babyphone-bot/venv/bin/python telegram-bot.py

[Install]
WantedBy=multi-user.target
